@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@theme {
  --color-bunker-50: #f6f7f9;
  --color-bunker-100: #ebeef3;
  --color-bunker-200: #d3dbe4;
  --color-bunker-300: #acbbcd;
  --color-bunker-400: #7f98b1;
  --color-bunker-500: #5f7b98;
  --color-bunker-600: #4b637e;
  --color-bunker-700: #3d5067;
  --color-bunker-800: #364556;
  --color-bunker-900: #303b4a;
  --color-bunker-950: #13171d;
  --color-bunker: #13171D;


  --color-fun-blue-50: #f0f7ff;
  --color-fun-blue-100: #e0effe;
  --color-fun-blue-200: #b9defe;
  --color-fun-blue-300: #7bc5fe;
  --color-fun-blue-400: #36a7fa;
  --color-fun-blue-500: #0b8cec;
  --color-fun-blue-600: #006eca;
  --color-fun-blue-700: #015aa9;
  --color-fun-blue-800: #054a87;
  --color-fun-blue-900: #0b3e6f;
  --color-fun-blue-950: #07274a;
  --color-fun-blue: #015AA9;

  --color-alizarin-crimson-50: #fff0f2;
  --color-alizarin-crimson-100: #ffdde1;
  --color-alizarin-crimson-200: #ffc1c8;
  --color-alizarin-crimson-300: #ff95a1;
  --color-alizarin-crimson-400: #ff596c;
  --color-alizarin-crimson-500: #ff263f;
  --color-alizarin-crimson-600: #fc0622;
  --color-alizarin-crimson-700: #e2001a;
  --color-alizarin-crimson-800: #af0519;
  --color-alizarin-crimson-900: #900c1b;
  --color-alizarin-crimson-950: #500009;
  --color-alizarin-crimson: #E2001A;

  --color-torch-red-50: #fff0f2;
  --color-torch-red-100: #ffdde1;
  --color-torch-red-200: #ffc1c8;
  --color-torch-red-300: #ff96a2;
  --color-torch-red-400: #ff596c;
  --color-torch-red-500: #ff263f;
  --color-torch-red-600: #fc142f;
  --color-torch-red-700: #d4011a;
  --color-torch-red-800: #af0519;
  --color-torch-red-900: #900c1b;
  --color-torch-red-950: #4f0009;
  --color-torch-red: #FC142F;



  --color-masala-50: #f6f6f6;
  --color-masala-100: #e7e7e7;
  --color-masala-200: #d1d1d1;
  --color-masala-300: #b0b0b0;
  --color-masala-400: #888888;
  --color-masala-500: #6d6d6d;
  --color-masala-600: #5d5d5d;
  --color-masala-700: #4f4f4f;
  --color-masala-800: #444444;
  --color-masala-900: #3d3d3d;
  --color-masala-950: #262626;
  --color-masala: #444444;


  --color-blaze-orange-50: #fff8ec;
  --color-blaze-orange-100: #fff0d3;
  --color-blaze-orange-200: #ffdea5;
  --color-blaze-orange-300: #ffc56d;
  --color-blaze-orange-400: #ffa132;
  --color-blaze-orange-500: #ff840a;
  --color-blaze-orange-600: #ff6b00;
  --color-blaze-orange-700: #cc4d02;
  --color-blaze-orange-800: #a13c0b;
  --color-blaze-orange-900: #82330c;
  --color-blaze-orange-950: #461704;
  --color-blaze-orange: #FF6B00;

  --color-storm-dust-50: #f6f6f6;
  --color-storm-dust-100: #e7e7e7;
  --color-storm-dust-200: #d1d1d1;
  --color-storm-dust-300: #b0b0b0;
  --color-storm-dust-400: #888888;
  --color-storm-dust-500: #6d6d6d;
  --color-storm-dust-600: #646464;
  --color-storm-dust-700: #4f4f4f;
  --color-storm-dust-800: #454545;
  --color-storm-dust-900: #3d3d3d;
  --color-storm-dust-950: #262626;
  --color-storm-dust: #646464;


  --color-alto-50: #f7f7f7;
  --color-alto-100: #ededed;
  --color-alto-200: #dadada;
  --color-alto-300: #c8c8c8;
  --color-alto-400: #adadad;
  --color-alto-500: #999999;
  --color-alto-600: #888888;
  --color-alto-700: #7b7b7b;
  --color-alto-800: #676767;
  --color-alto-900: #545454;
  --color-alto-950: #363636;
  --color-alto: #DADADA;

  --color-goldenrod-50: #fff9eb;
  --color-goldenrod-100: #fff0c6;
  --color-goldenrod-200: #ffd66b;
  --color-goldenrod-300: #ffc74a;
  --color-goldenrod-400: #ffb020;
  --color-goldenrod-500: #f98c07;
  --color-goldenrod-600: #dd6602;
  --color-goldenrod-700: #b74506;
  --color-goldenrod-800: #94350c;
  --color-goldenrod-900: #7a2c0d;
  --color-goldenrod-950: #461502;
  --color-goldenrod: #FFD66B;


  --spacing: 1px;

  --breakpoint-3xl: 110rem;
  --breakpoint-4xl: 120rem;

  --shadow-soft-glow: 0 2.32px 1.85px 0 #FF6B0007;
  --shadow-timer: 0px 3.22px 3.62px 0px #FF6B000A, 0px 8.89px 10.02px 0px #FF6B000E, 0px 21.4px 24.12px 0px #FF6B0012, 0px 71px 80px 0px #FF6B001C;
  --shadow-gadgets: 0px 8px 10px 0px #FF6B0014, 0px 50px 60px 0px #FF6B0014;
  --shadow-gadget-icon: 0px 10px 10px 0px #FF6B000D, 0px 20px 40px 0px #FF6B0021;

  --font-gilroy: 'Gilroy',
    Arial,
    Helvetica,
    sans-serif;

    --font-bebas: 'Bebas Neue',
    Arial,
    Helvetica,
    sans-serif;
}

@layer base {
  @font-face {
    font-family: 'Gilroy';
    src: url('../../public/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../../public/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../../public/fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: url('../../public/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: url('../../public/fonts/BebasNeue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
}

:root {
  --background: #ffffff;
  --foreground: #13171D;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Gilroy, Helvetica, sans-serif;
}
